@charset 'UTF-8';
@use "../../inc/" as inc;
/*
button
-----------------------------------------------------*/
.-btn {
    display:flex; flex-direction:column; justify-content:center;
    border-radius: 9999px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    //margin: 0 auto;
    @include inc.mq(wsp) {
        //margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    &.l-header-hamburger {
        @include inc.sizing(padding-left, lap, 30px, sp, 24px);
        span {
            margin-top: -1px;
        }
    }
    &.l-header-btn {
        padding-left: unset!important;
        text-align: center!important;
    }
    &.-bk {
        background: inc.$theme-color-black;
        transition: .4s;
        cursor: pointer;
        span {
            color: inc.$base-color;
            font-weight: 600;
            //transition: .4s;
            //padding: 0 65px 0 30px;
            &.-center {
                text-align: left;
                //padding-left: 2rem;
                @include inc.mq(wsp) {
                    text-align: center;
                }
            }
            &.-center.-sp {
                text-align: center;
                @include inc.mq(wsp) {
                    text-align: center;
                }
            }
        }
        transition: all .5s ease;
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: inc.$theme-color-gray3;
                span {
                    color: inc.$base-color;
                }
                .icon {
                    &::before{
                        background: #000;
                    }
                    &::after{
                        background: #000;
                    }
                    &.-hamburger {
                        &::before{
                            background: #fff;
                        }
                        &::after{
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
    &.-wh {
        background: inc.$base-color;
        span {
            color: inc.$theme-color-black;
            font-weight: 600;
            //padding: 0 65px 0 30px;
        }
        transition: all .5s ease;
        @media (hover: hover) and (pointer: fine) {
            background: inc.$theme-color-gray2;
        }
    }
    &.-fontsS {
        @include inc.sizingRem(font-size, lap, 13px, sp, 11px);
    }
    &.-fontsM {
        @include inc.sizingRem(font-size, lap, 14px, sp, 12px);
    }
    &.-sizeH {
        @include inc.sizing(width, lap, 140px, sp, 110px);
        @include inc.sizing(height, lap, 44px, sp, 34px);
    }
    &.-sizeS {
        width: 140px;
        max-width: 90%;
        height: 44px;
        text-align: left;
        //padding-left: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @include inc.mq(wsp) {
            //text-align: center;
            //padding-left: 2rem;
        }
        &.-center {
            text-align: center;
            padding-left: unset;
            padding-right: unset;
        }
    }
    &.-sizeM {
        width: 100%;
        max-width: 375px;
        //height: 60px;
        text-align: left;
        //padding-left: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @include inc.sizing(height, lap, 60px, sp, 50px);
        @include inc.mq(wsp) {
            width: 260px;
            max-width: 90%;
            //text-align: center;
            //padding-left: 2rem;
        }
    }
    &.-sizeL {
        width: 480px;
        max-width: 100%;
        //height: 60px;
        @include inc.sizing(height, lap, 60px, sp, 50px);
        text-align: left;
        //padding-left: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @include inc.mq(wsp) {
            max-width: 90%;
            //text-align: center;
            //padding-left: 2rem;
        }
    }
    &.-sizeLL {
        width: 480px;
        max-width: 90%;
        //height: 80px;
        @include inc.sizing(height, lap, 80px, sp, 50px);
        span {
            text-align: left;
            padding-left: 2rem;
            padding-right: 2rem;
            @include inc.mq(wsp) {
                text-align: center;
                padding-left: unset;
            }
            &.-center {
                text-align: center;
                padding-left: unset;
                @include inc.mq(wsp) {
                    text-align: center;
                    padding-left: unset;
                }
            }
        }
        @include inc.mq(wsp) {
            max-width: 90%;
        }
    }
    // &.-center {
    //     display:flex; flex-direction:column; justify-content:center; align-items:center;
    //     padding-left: 0px;
    // }
    &.-auto {
        margin-left: auto;
        margin-right: auto;
    }
    &.-auto.-sp {
        margin-left: auto;
        margin-right: auto;
        @include inc.mq(wsp) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &.-arw {
        position: relative;
        text-decoration: none !important;
        .c-arrow-link--icon {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            width: 16px;
            height: 10px;
            margin: auto 0;
            line-height: 1;
            text-align: left;
        }
        .c-arrow-link--icon:before,
        .c-arrow-link--icon:after {
            content: "";
            width: 16px;
            height: 10px;
            background: url(../img/common/icon_arrow_right_bk.svg) no-repeat 50% 50%;
            position: absolute;
            animation-fill-mode: both;
            animation-duration: 0.6s;
        }
        .c-arrow-link--icon:after {
            transform: translateX(-100%);
        }
        &.is-hover .c-arrow-link--icon:before {
            animation-name: transformLeftRight;
            animation-delay: 0.3s;
        }
        &.is-hover .c-arrow-link--icon:after {
            animation-name: transformRightLeft;
        }
        @media(hover: hover) {
            &.is-hover:hover .c-arrow-link--icon:before {
                animation-name: transformRightLeft;
                animation-delay: 0s;
            }
            &.is-hover:hover .c-arrow-link--icon:after {
                animation-name: transformLeftRight;
                animation-delay: 0.3s;
            }
        }
        @keyframes transformLeftRight {
            0% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(0);
            }
            }
            @keyframes transformRightLeft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(100%);
            }
        }
    }
    &.-bk {
        .c-arrow-link--icon:before {
            background: url(../img/common/icon_arrow_right_wh.svg) no-repeat 50% 50%;
        }
        .c-arrow-link--icon:after {
            background: url(../img/common/icon_arrow_right_wh.svg) no-repeat 50% 50%;
        }
    }
    &.--back {
        .c-arrow-link--icon {
            right: unset;
            left: 20px;
        }
        .c-arrow-link--icon:before,
        .c-arrow-link--icon:after {
            content: "";
            width: 16px;
            height: 10px;
            background: url(../img/common/icon_arrow_left_bk.svg) no-repeat 50% 50%;
            position: absolute;
            animation-fill-mode: both;
            animation-duration: 0.6s;
        }
        .c-arrow-link--icon:after {
            transform: translateX(100%);
        }
        &.is-hover .c-arrow-link--icon:before {
            animation-name: transformLeftRight3;
            animation-delay: 0.3s;
        }
        &.is-hover .c-arrow-link--icon:after {
            animation-name: transformRightLeft3;
        }
        @media(hover: hover) {
            &.is-hover:hover .c-arrow-link--icon:before {
                animation-name: transformRightLeft3;
                animation-delay: 0s;
            }
            &.is-hover:hover .c-arrow-link--icon:after {
                animation-name: transformLeftRight3;
                animation-delay: 0.3s;
            }
        }
        &.-bk {
            .c-arrow-link--icon:before {
                background: url(../img/common/icon_arrow_left_wh.svg) no-repeat 50% 50%;
            }
            .c-arrow-link--icon:after {
                background: url(../img/common/icon_arrow_left_wh.svg) no-repeat 50% 50%;
            }
        }
    }
}


.icon_link {
    width: 16px;
    height: 1rem;
    background: url(../img/common/icon_link.svg) no-repeat 50% 100%;
    background-size: contain;
    display: inline-block;
    margin-left: .5rem;
    background-size: auto .8rem;
    &.-wh {
        background: url(../img/common/icon_link_wh.svg) no-repeat 50% 50%;
    }
}

.c-tag {
    width: auto;
    // display: inline-block;
    line-height: 0px;
    font-size: 11px;
    margin: 0;
    background: inc.$theme-color-gray4;
    border-radius: 9999px;
    padding-bottom: .1rem;
    padding: 10px 13px 13px;
    display: inline-block;
}



.cta_on {
    .l-header-hamburger {
        background: inc.$base-color;
        span {
            color: inc.$theme-color-black;
        }
        .icon::before {
            background: inc.$theme-color-black;
        }
        .icon::after {
            background: inc.$theme-color-black;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .cta_on .l-header-hamburger.-btn.-bk:hover {
        background: rgba(230, 230, 230, 0.8);
        span {
            color: inc.$theme-color-black;
        }
        .icon.-hamburger::before {
            background: inc.$theme-color-black;
        }
        .icon.-hamburger::after {
            background: inc.$theme-color-black;
        }
    }
}

