@charset 'UTF-8';
@use "../../inc/" as inc;
/*
list
-----------------------------------------------------*/
.c-list-dot {
    @include inc.sizingRem(font-size, lap, 16px, wsp, 14px);
    &__item {
        line-height: 1.8;
        padding-left: 18px;
        position: relative;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background: inc.$base-color;
            border-radius: 50%;
            position: absolute;
            top: .95rem;
            left: 0;
            transform: translate(0%, -50%);
        }
        & + & {
            margin-top: .8rem;
        }
        &.-black {
            &::before {
                background: inc.$theme-color-black;
            }
        }
    }
}