@charset 'UTF-8';
@use "../../inc/" as inc;
/*
text
-----------------------------------------------------*/

.l-spacing18 {
  letter-spacing: 0.18rem;
}
.l-spacing25 {
  letter-spacing: 0.25rem;
}

.-en {
    font-family: inc.$font-set-en;
    font-display: swap;
    font-weight: 500;
    letter-spacing: .25rem;
}
.-bold {
    font-weight: 600;
}
p a {
    text-decoration: underline!important;
    text-underline-offset: 0.3em;
}


a.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: transform .3s;
  &:hover {
    text-decoration: none!important;
  }
    // position: relative;
    // display: inline-block;
    // text-decoration: none!important;
    // line-height: 1;
  }
  // a.underline::before {
  //   position: absolute;
  //   bottom: -4px;
  //   left: 0;
  //   content: '';
  //   width: 100%;
  //   height: 1px;
  //   background: inc.$theme-color-black;
  //   transform: scale(1, 1);
  //   transform-origin: left top;
  //   transition: transform .3s;
  //   transition-delay: 250ms;
  // }
  @media (hover: hover) and (pointer: fine) {
    // a.underline:hover::before {
    //   transform-origin: right top;
    //   transform: scale(0, 1);
    //   transition-delay: 0ms;
    // }
  }
  // a.underline::after {
  //   position: absolute;
  //   bottom: -4px;
  //   left: 0;
  //   content: '';
  //   width: 100%;
  //   height: 1px;
  //   background: inc.$theme-color-black;
  //   transform: scale(0, 1);
  //   transform-origin: right top;
  //   transition: transform .3s;
  // }
  // @media (hover: hover) and (pointer: fine) {
  //   a.underline:hover::after {
  //     transition-delay: 250ms;
  //     transform-origin: left top;
  //     transform: scale(1, 1);
  //   }
  // }


.c-text-right {
  text-align: right;
}
.c-text-center {
  text-align: center;
}
