@charset 'UTF-8';
@use "../../inc/" as inc;
/*
title
-----------------------------------------------------*/


.c-title-pageTitle {
    @include inc.sizingRem(font-size, lap, 70px, sp, 42px);
    @include inc.sizing(margin-bottom, lap, 146px, sp, 54px);
    line-height: 1.6;
    margin-top: -2rem;
    font-weight: 600;
    //letter-spacing: .1rem;
    span {
        //letter-spacing: .16rem;
        display: block;
        @include inc.sizingRem(font-size, lap, 16px, sp, 16px);
        font-family: inc.$font-set-primary, sans-serif;
        font-weight: 600;
        position: relative;
        padding-left: 18px;
        margin-top: -.5rem;
        letter-spacing: 0.12rem;
        &.-project {
            margin-top: 0.4rem;
        }
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background: inc.$base-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -40%);
        }
        &.--wide {
            margin-top: 0.15rem;
            @include inc.mq(tab) {
                margin-top: 0;
            }
        }
    }
    &.-cta {
        @include inc.sizingRem(font-size, lap, 80px, sp, 50px);
        color: inc.$base-color;
        span {
            color: inc.$base-color;
            margin-top: -.8rem;
        }
    }
}

.p-column_blog .c-title-pageTitle {
    margin-bottom: 64px;
    @include inc.mq(tab) {
        @include inc.sizing(margin-bottom, lap, 146px, sp, 54px);

    }
}




.c-title-ex-large {
    @include inc.sizingRem(font-size, lap, 34px, sp, 24px);
    @include inc.sizing(margin-bottom, lap, 60px, sp, 50px);
    font-weight: 600;
    //line-height: 2;
    line-height: 1.8;
    letter-spacing: 0.25rem;
    &.-cta {
        @include inc.sizingRem(font-size, lap, 80px, sp, 50px);
        color: inc.$base-color;
        line-height: 1.2;
        span {
            display: block;
            @include inc.sizingRem(font-size, lap, 16px, sp, 16px);
            font-weight: 600;
            position: relative;
            padding-left: 18px;
            //letter-spacing: 0.1rem;
            letter-spacing: 0.12rem;
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                background: inc.$base-color;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0%, -50%);
            }
            &.--wide {
                margin-top: 0.15rem;
                @include inc.mq(tab) {
                    margin-top: 0;
                }
            }
        }
    }
    br.sp_none {
        display: block;
        @include inc.mq(tab) {
            display: none;
        }
    }
}

br.sp_none {
    display: block;
    @include inc.mq(tab) {
        display: none;
    }
}
br.pc_none {
    display: none;
    @include inc.mq(tab) {
        display: block;
    }
}

.c-title-large {
    @include inc.sizingRem(font-size, lap, 30px, sp, 22px);
    @include inc.sizing(margin-bottom, lap, 48px, sp, 32px);
    font-weight: 600;
    line-height: 2;
}
.c-title-medium {
    @include inc.sizingRem(font-size, lap, 26px, sp, 18px);
    font-weight: 600;
    margin-bottom: 26px;
    line-height: 2;
    &.--projects {
        line-height: 1.6;
    }
    span {
        //letter-spacing: 0.1rem;
        letter-spacing: 0.12rem;
        display: block;
        line-height: 0;
        &.-en {
            margin-bottom: 1rem;
        }
    }
    .title_sub {
        display: inline-block;
        @include inc.sizingRem(font-size, lap, 16px, sp, 16px);
        font-weight: 600;
        position: relative;
        padding-left: 18px;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background: inc.$base-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
}
.c-title-small {
    @include inc.sizingRem(font-size, lap, 22px, sp, 18px);
    @include inc.sizing(margin-bottom, lap, 54px, sp, 40px);
    font-weight: 600;
    @include inc.mq(tab) {
        margin-bottom: 36px;
    }
    //line-height: 1.8;
    line-height: 2;
    //letter-spacing: 0.18rem;
}
.c-title-small2 {
    @include inc.sizingRem(font-size, lap, 22px, sp, 18px);
    @include inc.sizing(margin-bottom, lap, 54px, sp, 40px);
    font-weight: 600;
    @include inc.mq(tab) {
        margin-bottom: 36px;
    }
    line-height: 2;
}

.c-title-en-medium {
    @include inc.sizingRem(font-size, lap, 72px, sp, 42px);
    @include inc.sizing(margin-bottom, lap, 40px, sp, 40px);
    @include inc.sizing(margin-top, lap, -32px, sp, -18px);
    line-height: 1.6;
    //margin-top: -2rem;
    span {
        display: block;
        line-height: 0;
        //letter-spacing: 0.1rem;
        letter-spacing: 0.12rem;
        font-family: inc.$font-set-primary, sans-serif;
        @include inc.mq(tab) {
            margin-top: -1.5rem;
        }
        &.-project {
            margin-top: 0rem;
        }
    }
    .title_sub {
        display: inline-block;
        @include inc.sizingRem(font-size, lap, 16px, sp, 16px);
        font-weight: 600;
        position: relative;
        padding-left: 18px;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background: inc.$base-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -40%);
        }
    }
    &.-home {
        margin-bottom: 64px;
    }
}

.c-title-en-small {
    @include inc.sizingRem(font-size, lap, 34px, sp, 32px);
    @include inc.sizing(margin-bottom, lap, 64px, sp, 24px);
    @include inc.sizing(margin-top, lap, -22px, sp, -18px);
    line-height: 1.6;
    line-height: 2;
    //margin-top: -1.35rem;
    span {
        //letter-spacing: 0.1rem;
        letter-spacing: 0.12rem;
        display: block;
        line-height: 0;
    }
    .title_sub {
        display: inline-block;
        @include inc.sizingRem(font-size, lap, 16px, sp, 16px);
        font-weight: 600;
        position: relative;
        padding-left: 18px;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background: inc.$base-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
}

