@charset 'UTF-8';
@use "../../inc/" as inc;
/*
home
-----------------------------------------------------*/
.p-home {
    .p-kv {
        padding-top: 0;
        position: relative;
        aspect-ratio: 336 / 591;
        width: 94%;
        margin: 0 auto;
        @include inc.mq(tab) {
            width: 94%;
            max-width: 1660px;
            aspect-ratio: 1656 / 935;
            margin: -80px auto 0;
            height: auto;
            //max-height: 86vh;
            text-align: center;
        }
        picture.base {
            opacity: 0.2;
        }
        .ani_parts {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            aspect-ratio: 336 / 591;
            @include inc.mq(tab) {
                aspect-ratio: 1656 / 935;
                img {
                    height: auto;
                    max-height: 86vh;
                }
            }
        }
        .ani_title {
            //display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            @include inc.mq(tab) {
                aspect-ratio: 1656 / 935;
                img {
                    height: auto;
                    max-height: 86vh;
                }
            }
        }
        .ani_sub {
            //display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            aspect-ratio: 336 / 591;
            @include inc.mq(tab) {
                aspect-ratio: 1656 / 934;
                img {
                    height: auto;
                    max-height: 86vh;
                }
            }
        }
        .ani_pc {
            display: none;
            width: 100%;
            height: auto;
            @include inc.mq(tab) {
                display: block;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // width: 100%;
                // height: auto;
                // aspect-ratio: 257 / 145;
            }
        }
        .ani_sp {
            display: block;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // width: 100%;
            // height: auto;
            // aspect-ratio: 336 / 591;
            width: 100%;
            height: auto;
            @include inc.mq(tab) {
                display: none;
            }
        }

    }
    &--block01 {
        position: relative;
        //@include inc.sizing(padding-bottom, full, 260px, tab, 180px);
        @include inc.sizing(padding-top, tab, 340px, sps, 200px);
        padding-bottom: 60px;
        @include inc.mq(tab) {
            padding-top: 0;
            @include inc.sizing(padding-bottom, full, 340px, tab, 200px);
        }
        &::before {
            content: "";
            display: block;
            aspect-ratio: 2658 / 1196;
            position: absolute;
            right: 0;
            top: 0;
            bottom: unset;
            max-width: 1336px;
            width: 90.58%;
            background: url(../img/top/bg_001.png) no-repeat 100% 100%;
            background-size: contain;
            @include inc.mq(tab) {
                top: unset;
                bottom: 0;
            }
        }
    }
    &--lead {
        max-width: 875px;
        width: 100%;
        margin: 0 auto;
    }
    &--idea {
        position: relative;
        display: block;
        background: #FFF;
        border-radius: 1.5rem;
        @include inc.sizing(padding, tab, 80px, sp, 30px);
        .--card {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            a {
                display: block;
                width: 100%;
                @include inc.mq(lap) {
                    width: calc(50% - 1rem);
                }
                border-radius: 1rem;
                overflow: hidden;
                figure {
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    figcaption {
                        position: relative;
                        display: block;
                        bottom: 0;
                        left: 0;
                        background: inc.$theme-color-black;
                        color: inc.$base-color;
                        @include inc.sizing(padding-top, full, 20px, sp, 14px);
                        @include inc.sizing(padding-bottom, full, 20px, sp, 14px);
                        @include inc.sizing(padding-left, full, 36px, sp, 20px);
                        @include inc.sizing(padding-right, full, 36px, sp, 20px);
                        i {
                            position: absolute;
                            @include inc.sizing(right, full, 36px, sp, 20px);
                            top: 50%;
                            transform: translate(0%, -50%);
                        }
                    }
                }

            }

        }
    }
}


