@charset 'UTF-8';
@use "../inc/" as inc;
/*
CTA
-----------------------------------------------------*/
.l-cta {
    .c-title-ex-large {
        margin-bottom: 0;
    }
    .c-title-medium {
        font-size: 16px;
        @include inc.sizingRem(font-size, lap, 20px, sp, 16px);
        margin-bottom: 2rem;
        .c-list-dot__item {
            font-size: 14px;
            @include inc.sizingRem(font-size, lap, 16px, sp, 14px);
        }
    }
    background: inc.$theme-color-black;
    color: inc.$base-color;
    @include inc.sizing(padding-top, tab, 127px, sp, 50px);
    @include inc.sizing(padding-bottom, tab, 110px, sp, 50px);
    &--2column {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 48px 0;
        &--L {
            width: 100%;
        }
        &--R {
            width: 100%;
            //padding-right: 0%;
        }
        @include inc.mq(lap-l) {
            //gap: 0 8.36%;
            gap: 2rem;
            &--L {
                //width: 25.15%;
                width: calc(50% - 1rem);
            }
            &--R {
                //width: 57.9%;
                width: calc(50% - 1rem);
                //padding-right: 7.76%;
            }
        }
    }
    .-btn.-sizeM {
        @include inc.sizing(margin-top, tab, 50px, sp, 32px);
        width: 100%;
        @include inc.mq(wsp) {
            width: 260px;
            height: 60px;
        }
        transition: all .5s ease;
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: rgba(230,230,230,.8);
            }
        }
    }
}
