@charset 'UTF-8';
@use "../inc/" as inc;

/*
 container
-----------------------------------------------------*/
.l-container {
    &--primary {
        width: 100%;
        max-width: 1660px;
        padding: 0 6%;
        @include inc.mq(lap) {
            padding: 0 4.8%;
        }
        margin: 0 auto;
    }
    &--secondary {
        width: 100%;
        max-width: calc(1080px + 8%);
        padding: 0 6%;
        @include inc.mq(lap) {
            max-width: calc(1080px + 9.6%);
            padding: 0 4.8%;
        }
        margin: 0 auto;
        &.--sp1 {
            max-width: 100%;
            padding: 0;
            @include inc.sizing(padding-left, lap, 80px, sp, 30px);
            @include inc.sizing(padding-right, lap, 80px, sp, 30px);
            @include inc.mq(lap) {
                max-width: calc(1080px + 9.6%);
                padding: 0 4.8%;
            }
        }
        &.--sp2 {
            max-width: 100%;
            padding: 0;
            @include inc.mq(lap) {
                max-width: calc(1080px + 9.6%);
                padding: 0 4.8%;
            }
        }
    }
    &--2column {
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
        .--L {
            width: 100%;
            //margin-bottom: 54px;
        }
        .--R {
            width: 100%;
            padding-right: 0%;
        }
        @include inc.mq(lap) {
            justify-content: space-between;
            .--L {
                width: 20.6%;
                margin-bottom: 0px;
            }
            .--R {
                width: 74.78%;
                //padding-right: 7.76%;
            }
        }
        &.--home {
            .--L {
                width: 100%;
                margin-bottom: 0px;
                //margin-bottom: 54px;
            }
            .--R {
                width: 100%;
                padding-right: 0%;
            }
            @include inc.mq(lap) {
                justify-content: space-between;
                .--L {
                    width: 34.34%;
                    margin-bottom: 0px;
                }
                .--R {
                    width: 65.45%;
                    padding-right: 7.76%;
                }
            }
        }
        &.--half {
            gap: 2rem;
            .--L {
                width: 100%;
            }
            .--R {
                width: 100%;
            }
            @include inc.mq(lap) {
                justify-content: space-between;
                .--L {
                    width: calc(50% - 1rem);
                }
                .--R {
                    width: calc(50% - 1rem);
                }
            }
        }
        &.--contact {
            width: 100%;
            max-width: 1660px;
            padding: 0;
            gap: 3rem 0;
            //padding: 0 4%;
            @include inc.mq(lap) {
                padding: 0 4.8%;
            }
            margin: 0 auto;
            .--L {
                padding: 0 6%;
                @include inc.mq(lap) {
                    padding: 0;
                }
            }
            .--inner {
                padding: 0 6%;
                @include inc.mq(lap) {
                    padding: 0;
                }
            }
        }
    }

}

