@charset 'UTF-8';
@use "../inc/" as inc;
/*
main
-----------------------------------------------------*/
body {
    //letter-spacing: .1rem;
    letter-spacing: 0.12rem;
    &.--hidden {
        overflow: hidden;
    }
}

.l-main {
    @include inc.sizing(padding-top, tab, 132px, sp, 68px);
    @include inc.sizing(padding-bottom, tab, 111px, sp, 110px);
    //overflow: hidden;
    &.--hidden {
        overflow: hidden;
    }
}

.p-home .l-main {
    padding-bottom: 0;
    padding-top: 44vw;
    @include inc.mq(tab) {
        padding-top: 120px;
        @include inc.sizing(padding-bottom, tab, 111px, sp, 800px);
    }
}

.p-column.post {
    @include inc.sizing(padding-top, tab, 100px, sp, 68px);

}

.p-service .l-main {
    overflow: hidden;
    @include inc.mq(tab) {
        overflow: unset;
    }
}